.all-songs-container {
    background: #fff;
    padding: 10px 10px 120px;
}

.all-songs-container h2 {
    margin-bottom: 28px;
    text-align: center;
    font-family: sans-serif;
}

.all-songs-container>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1260px;
}

.song-container {
    width: 294px;
    margin: 10px 10px 14px 10px;
    list-style: none;
}

.song-container p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-cover-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 294px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.song-cover-img img {
    width: 100%;
}

.play-animation {
    align-items: center;
    background: linear-gradient(180deg, rgba(205, 190, 128, 0) 35.94%, #ffffff 100%);
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 250ms;
    width: 100%;
}

.play-animation:hover {
    opacity: 1;
}

.play-animation .list-style-play-btn {
    margin-bottom: 0;
}

.play-btn {
    font-size: 25px;
    background-color: transparent;
    color: white;
    border-radius: 6px;
    border: 2px solid #ff5501;
}

.play-btn:hover {
    transform: scale(1.2);
}

.song-title-link {
    color: #0F1010;
    font-family: sans-serif;
    text-decoration: none;
    transition: all 250ms;
}

.song-title-link:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #f99420;
}

.song-title-link+p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.song-artist-link-text {
    color: #C4C4C4;
}
