.create-song-form {
    width: 50%;
    max-width: 240px;
    height: fit-content;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.create-song-form h3 {
    margin: 0;
    margin-top: 5px;
    padding-bottom: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container input {
    margin-top: 8px;
    align-items: center;
    text-align: center;
}

.form-btn-wrapper {
    padding-top: 10px;
}

.form-btn-container {
    display: flex;
    justify-content: center;
}

.create-song-form div {
    margin: 4px;
    display: flex;
}

.file-upload {
    color: transparent;
    width: 90px;
}

.form-header {
    font-family: sans-serif;
    padding: 2px 8px;
    border-radius: 6px;
}
