.logout-top-splash {
    background-color: transparent;
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 15px 18px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.logout-navigation {
    background: url(https://soundcloud-clone-data.s3.us-west-1.amazonaws.com/music-studio-control-room-singer-booth_107791-1637.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    width: 100%;
    flex-direction: column;
    display: flex;
    background-size: cover;
    height: 100vh;
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 15px 18px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.login-top-splash {
    background-color: rgb(51, 51, 51);
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 15px 18px rgba(0, 0, 0, 0.25);
    height: 4em;
}

.login-navigation {
    background-size: contain;
    background-repeat: no-repeat;
    height: 65px;
}

.active {
    color: #fff;
    font-weight: 700;
}

.nav-right button+button {
    background-color: #ff5501;
    border-color: #ff5501;
    color: #fff;
    height: 30px;
    margin: 5px;
    padding: 4px 15px;
    border: 1px solid #ff5501;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.session-btns {
    padding: 0 5px;
    margin-right: 5px;
}

.profile-btn {
    margin-right: 20px;
    background-color: #ff5501;
    border-radius: 6px;
}

.nav-right button {
    background-color: transparent;
    margin: 5px;
    border-color: white;
    color: #fff;
    height: 30px;
    margin: 0;
    padding: 4px 15px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}


.nav-left-logo {
    background-color: transparent;
    border-color: white;
    color: rgb(255, 255, 255);
    height: 60px;
    margin: 0;
    padding: 4px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.login-top-splash a {
    color: white;
    height: 30px;
    margin: 0;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    text-decoration: none;
}

/* .search-bar {
    border: 1px solid #ff5501;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 4px;
    width: 50%;
    box-shadow: 4px 2px 6px #ff560171;
    background-color: white;
    display: flex;
    justify-content: center;
} */

/* .search-input {
    width: 100%;
    padding: 2px;
    border: none;
} */

.profile-dropdown {
    list-style: none;
    padding-left: 0;
}

.profile-dropdown li {
    list-style: none;
}

.profile-dropdown {
    background-color: rgb(51, 51, 51, 0.8);
    border: 1px solid rgb(51, 51, 51);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 70px;
    top: 64px;
    right: 8px;
    font-family: sans-serif;
    font-size: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    list-style: none;
    z-index: 1;
}

.profile-btn-ul {
    padding-left: 3px;
}

.music-player-div {
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    height: fit-content;
    justify-content: center;
    width: 100%;
    color: #ff5501;
    background-color: rgb(201, 115, 10);
    text-align: center;
    bottom: 0;
    position: fixed;
    z-index: 1;
    right: 0;
}

.rhap_container {
    background: rgb(247, 247, 249, 0.9);
}

.rhap_main-controls-button {
    display: block;
}

.under-nav-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 23px;
    box-sizing: border-box;
    width: 102.3%;
    color: white;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 20px 0;
}

.home-container {
    background: url(https://soundcloud-clone-data.s3.us-west-1.amazonaws.com/music-studio-control-room-singer-booth_107791-1637.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    width: 100%;
    flex-direction: column;
    display: flex;
    background-size: cover;
    height: 90vh;
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 15px 18px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 20px 0;
}

.home-container h1 {
    margin: 1px;
    font-family: sans-serif;
    text-shadow: 0 0 55px rgb(0, 0, 0);
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, .25); */
}

.search-bar-container {
    align-items: center;
    width: 20em;
}

.search-input:focus {
    outline: none;
}

.search-result-link {
    background: none;
    border: none !important;
    display: block;
    padding: 0 !important;
    transition: none !important;
}

.search-result-link>div {
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

.search-bar-form {
    padding: 0;
    width: 100%;
}

.search-bar-form input {
    border: none;
    display: flex;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 0.4em;
    transition: border 200ms;
    min-width: 275px;
}

.search-bar-form>div {
    align-items: center;
    display: flex;
    position: relative;
}

.search-results {
    color: black;
    background: #ff5501;
    top: 50px;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 30%), 0 20px 48px rgb(0 0 0 / 16%),
        0 1px 4px rgb(0 0 0 / 12%);
    max-height: 20em;
    opacity: 0;
    overflow-y: scroll;
    padding: 16px;
    position: absolute;
    visibility: hidden;
    transform: scale(1.1);
    transition: all 200ms;
    max-width: 15em;
    color: black;
    z-index: 1;
    right: 20%;
}

.results-active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.search-result-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.search-results a>div:hover {
    background-color: rgb(0, 0, 0, 0.1);
}
.social-box {
    bottom: 20%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0, 0.5);
    border-radius: 3px;
    height: 5rem;
    width: 12rem;
}

.logout-social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-linkedin, .fa-github {
    vertical-align: auto;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.logout-social > *{
    font-size: 45pt;
}

.fa-github:hover {
    color: rgb(85,26,139);
}

.fa-linkedin:hover {
    color: rgb(24,102,194);
}
